#about_us{ 
	margin-top: 70px;
	text-align: center;

}
section{
	/*padding: 32px 0px 0px 0px !important;*/
}

article
{
    padding: 3% 0%;
    padding-left: 36%;
    background: #E6E6E6 url("images/logo_bidi_full_size.png") no-repeat;
    background-position: -15% -100px;
    color: #3D3D3D;
}
.def{	
	color: #FFF;
	background-color: #55abc0;
	font-size: 14px;
	text-align: left;


}
span.vertical_line
{
	height: 180px;
	margin-top: 10px;
	margin-left: -60px;
	display: inline-block;
	border-left: 1px solid #CACACA;
	position: absolute;
}
span.vertical_line:before{
	content: "";
	padding-left: 50px;
}
.multiple-3-colums
{
	height: 192px;
    -webkit-column-count: 3; /* Chrome, Safari, Opera */
    -moz-column-count: 3; /* Firefox */
    column-count: 3;
}

.multiple-3-colums h4:first-of-type{
	margin-top: 0px;
}
.multiple-3-colums h4
{
	margin-bottom: -12px;
}