textarea {
  overflow: hidden !important;
  overflow-wrap: break-word !important;
  resize: none !important;
  height: 92px !important;
}

.form-control {
    display: block !important;
    width: 100% !important;
    height: calc(1.5em + 1rem + 2px) !important;
    padding: .5rem .75rem !important;
    font-size: .9375rem !important;
    font-weight: 400 !important;
    line-height: 1.5 !important;
    color: #12263f !important;
    background-color: #fff !important;
    background-clip: padding-box !important;
    border: 1px solid #d2ddec !important;
    border-radius: .375rem !important;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out !important;
}
.display-5,
.display-3,
.display-4,
#proyect-name {
  transition: all ease 500ms;
}