.option:hover i {
	margin-right: -12px;
}
.option:hover {
	cursor: pointer;
	box-shadow: 0 0 12px rgba(0,0,0,0.4);
	transform: scaleZ(2);
}
.option i,
.option:hover i,
.option,
.option:hover {
	transition: all ease 200ms;
}
.col-xl-4,
.col-xl-6,
.d-none {
	transition: all ease 600ms;
}