.btn span {
  vertical-align: middle;
  background: #ffffff2e;
  border-radius: 2rem;
  width: 22px;
  height: 20px;
  text-align: center;
  position: relative;
  margin-left: -7px;
  display: inline-block;
  padding: -12px;
  color: #fff;
  font-weight: 500;
  line-height: 19px;
  margin-top: -3px;
}

.marketing-textarea,
.marketing-input {
  background-color: transparent;
  border: none;
  outline: none;
  border-bottom: 1px solid #cacaca;
  display: inline-block;
  width: 100%;
}