.dataTables_wrapper .dataTables_paginate .paginate_button {
	margin: 0;
	padding: 0;
}

div.dataTables_wrapper div.dataTables_info {
	padding-left: 12px;
}

div.dataTables_wrapper div.dataTables_paginate {
    padding-right: 12px;
    padding-bottom: 7px;
}
div.dataTables_wrapper div.dataTables_filter,
.dt-buttons 
{
	padding: 12px;
}