.progress {
  height: 0.3rem;
}
.box-channels-list-item,
.box-channels-list-item:hover {
	transition: all ease 200ms;
}
.box-channels-list-item:hover {
	background-color: #f7f8f9;
	cursor: pointer;
}
.box-channels-list {
	position: absolute;
	background: #ffff;
	margin-top: -12px;
	box-shadow: 0 3px 8px rgba(0,0,0,0.1);
}