/* font face */
@font-face {
  font-family: RobotoLight;
  src: url(../../src/assets/fonts/Roboto-Light.ttf);
}
@font-face {
  font-family: RobotoRegular;
  src: url(../../src/assets/fonts/Roboto-Medium.ttf);
}
@font-face {
  font-family: RobotoMedium;
  src: url(../../src/assets/fonts/Roboto-Medium.ttf);
}
@font-face {
  font-family: RobotoBold;
  src: url(../../src/assets/fonts/Roboto-Bold.ttf);
}
.font-medium { font-family: RobotoMedium; }
.font-bold { font-family: RobotoBold; }
.font-light { font-family: RobotoLight; }
.bg-dark {
  background-color: #2b323d !important;
}
.modal-header {
	border-bottom: none;
}
.modal-body {
	font-size: 21px;
    color: #fff;
    line-height: 19px;
}
.modal-title {
  font-size: 25px;
  color: #fff;
  letter-spacing: -0.4px;
  font-weight: 600;
}
.modal-footer {
	border-top: none;
}
.modal-content {
  background-color: #2b323d !important;
}
.btn {
	border-radius: 2rem;
    padding: 2px 12px;
}
.input-group-text {
  background-color: transparent;
}
.result:hover {
  background-color: #2b323d;
  color: #fff;
}
.result:hover,
.result {
  transition: all linear 120ms;
}
.result {
  cursor: pointer;
}
.results {
  overflow: hidden;;
  position: absolute;
  left: 0;
  top: 35px;
  background: #fff;
  width: 100%;
  z-index: 1;
  border: 1px solid #ced4db;
}

.image-profile {
  border-radius: 100%;
}

.ck.ck-editor {
  width: 100%;
}

.ck.ck-editor__main>.ck-editor__editable:not(.ck-focused) {
  height: 200px;
}
.hide {
  display: none;
}
.text-gray {
  color: #fafafa;
}
.bg-gray {
  background-color: #fafafa;
}

.box-alpha-1 {
  opacity: 0.8;
}
.box-alpha-2 {
  opacity: 0.6;
}
.box-alpha-3 {
  opacity: 0.4;
}
.box-alpha-4 {
  opacity: 0.2;
}
.box-alpha-5 {
  opacity: 0;
}
.user-box {
  width: 52px;
  height: 52px;
  border-radius: 100%;
  background-position: center;
  background-size: contain;
}
.opacity-1 {
  opacity: .8;
}
.opacity-2 {
  opacity: .6;
}
.opacity-3 {
  opacity: .4;
}
.opacity-4 {
  opacity: .2;
}
.opacity-5 {
  opacity: 0;
}
.navbar  {
  padding: 0 0 0 1rem;
}
.navbar-nav {
  padding: 0.5rem 0;
}
.bg-green {
  background: #2dc073;
}

.navbar-dark .navbar-nav .nav-link {
  color: rgba(255,255,255,1);
}
.box-vertical-center {
  display: flex;
  align-items: center; 
  height: 100%;
}
.box-secure-outine-inverse { 
  border-left: 3px solid #2dc073;
  border-bottom: 3px solid #2dc073;
}
.box-secure-outine { 
  border-top: 3px solid #2dc073;
  border-right: 3px solid #2dc073;
}
.bg-green-diagonal-gradient-inverse {
  /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#2bad61+1,2dc073+50,2dc073+100 */
  background: #2bad61; /* Old browsers */
  background: -moz-linear-gradient(45deg,  #2bad61 1%, #2dc073 50%, #2dc073 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(45deg,  #2bad61 1%,#2dc073 50%,#2dc073 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(45deg,  #2bad61 1%,#2dc073 50%,#2dc073 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#2bad61', endColorstr='#2dc073',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
}
.bg-green-diagonal-gradient {
   /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#2dc073+0,2dc073+50,32c9a3+99 */
  background: #2dc073; /* Old browsers */
  background: -moz-linear-gradient(45deg,  #2dc073 0%, #2dc073 50%, #32c9a3 99%); /* FF3.6-15 */
  background: -webkit-linear-gradient(45deg,  #2dc073 0%,#2dc073 50%,#32c9a3 99%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(45deg,  #2dc073 0%,#2dc073 50%,#32c9a3 99%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#2dc073', endColorstr='#32c9a3',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
}
.bg-success{
background-color: #7BDFA0 !important
}
.bg-danger{
  background-color:#E86565 !important
  }
/* Base for label styling */
[type="checkbox"]:not(:checked),
[type="checkbox"]:checked {
  position: absolute;
  left: -9999px;
}
[type="checkbox"]:not(:checked) + label,
[type="checkbox"]:checked + label {
  position: relative;
  padding-left: 1.95em;
  cursor: pointer;
  padding-right: 1rem;
}

/* checkbox aspect */
[type="checkbox"]:not(:checked) + label:before,
[type="checkbox"]:checked + label:before {
  content: '';
  position: absolute;
  left: 0; top: 0;
  width: 1.25em; height: 1.25em;
  border: 2px solid #ccc;
  background: #fff;
  border-radius: 4px;
  box-shadow: inset 0 1px 3px rgba(0,0,0,.1);
}
/* checked mark aspect */
[type="checkbox"]:not(:checked) + label:after,
[type="checkbox"]:checked + label:after {
  content: '\2713\0020';
  position: absolute;
  top: .15em; left: .22em;
  font-size: 1.3em;
  line-height: 0.8;
  color: #09ad7e;
  transition: all .2s;
  font-family: 'Lucida Sans Unicode', 'Arial Unicode MS', Arial;
}
/* checked mark aspect changes */
[type="checkbox"]:not(:checked) + label:after {
  opacity: 0;
  transform: scale(0);
}
[type="checkbox"]:checked + label:after {
  opacity: 1;
  transform: scale(1);
}
/* disabled checkbox */
[type="checkbox"]:disabled:not(:checked) + label:before,
[type="checkbox"]:disabled:checked + label:before {
  box-shadow: none;
  border-color: #bbb;
  background-color: #ddd;
}
[type="checkbox"]:disabled:checked + label:after {
  color: #999;
}
[type="checkbox"]:disabled + label {
  color: #aaa;
}
/* accessibility */
[type="checkbox"]:checked:focus + label:before,
[type="checkbox"]:not(:checked):focus + label:before {
  border: 2px dotted blue;
}

/* hover style just for information */
label:hover:before {
  border: 2px solid #4778d9!important;
}






/* Useless styles, just for demo design */

body {
  font-family: "Open sans", "Segoe UI", "Segoe WP", Helvetica, Arial, sans-serif;
  color: #777;
}
h1, h2 {
  margin-bottom: .25em;
  font-weight: normal;
  text-align: center;
}
h2 {
  margin: .25em 0 2em;
  color: #aaa;
}
form {
  width: 7em;
  margin: 0 auto;
}
.txtcenter {
  margin-top: 4em;
  font-size: .9em;
  text-align: center;
  color: #aaa;
}
.copy {
 margin-top: 2em; 
}
.copy a {
 text-decoration: none;
 color: #4778d9;
}