.easyPieChart {
  height: 100% !important;
  width: 100% !important;
}
.amount-visitors {
  position: absolute;
  left: 0;
  width: 100%;
  font-size: 30px;
  font-weight: 600;
}
.box-visitors {
  min-height: 310px;
}
/*.easyPieChart canvas {
  position: absolute;
}*/
.visitor-title {
  padding-bottom: 0;
  font-size: 23px;
}
#amount-registers-status
{
  margin-left: -47px;
  position: absolute;
  margin-top: 3px;
  font-size: 24px;
}
.color-red {
  color: #f5130f;
}
.color-blue {
  color: #199fd8;
}
.color-green {
  color: #4ccc1b;
}
.color-green-dark {
  color: #439E01;
}
.textarea-clear,
.input-clear  {
  margin: 4px 0;
  padding: 4px 6px;
  width: 100%;
  border: none;
  display: inline-block;
}
.user-box {
  width: 52px;
  height: 52px;
  background-size: cover;
  border-radius: 100%;
  background-repeat: no-repeat;
  background-clip: padding-box;
  background-color: #00b8ff36;
  background-blend-mode: multiply;
  background-position: center;
}