body {
  background-image: url(../../src/img/bg-buy.jpg);
  background-size: cover;
  background-attachment: fixed;
}
.list {
  list-style: none;
}
.box-personal-info,
.box-one-time-payment,
.box-packages {
  overflow: hidden;
  background-color: #fff;
  box-shadow: 17px 21px 24px rgba(0,0,0,0.1);
  border-radius: 4px;
}
.border-alpha {
  border-color: rgba(255,255,255,0.2) !important;
}
.box-packages button {
	width: 100%;
  font-size: 22px;
  background-color: transparent !important;
  border-color: transparent;
  padding: 12px 0;
  text-decoration: underline;
}

.bg-purple-1 {
	background-color: #4453fe;
}
.bg-purple-2 {
	background-color: #4f40ff;
}
.bg-purple-3 {
	background-color: #5432ff;
}
.bg-blue {
  background-color: #2bb9b9 !important;
}
.bg-purple-onmouseleave {
  background-color: #303046;
}
.bg-purple-onmouseleave button,
.bg-purple-onmouseleave p,
.bg-purple-onmouseleave img {
  opacity: 0.1;
}
.box-shadow-a,
.bg-purple-onmouseleave,
.bg-purple-onmouseleave img,
.bg-purple-1,
.bg-purple-2,
.bg-purple-3,
.bg-purple-onmouseleave {
  cursor: pointer;
  transition: all linear 220ms;
}
.bg-blue {
  background: rgb(43,185,185);
  background: linear-gradient(90deg, rgb(63, 234, 123) 0%, rgb(41, 180, 125) 100%);
}
.box-title p {
  line-height: 24px;
}
.box-title {
  height: 200px;
}
.box-membership:hover .lead,
.box-membership-selected .lead,
.box-membership-selected img,
.box-membership:hover,
.box-membership-selected {
  transition: all ease 200ms;
}
.box-membership:hover .lead,
.box-membership-selected .lead {
  color: #fff !important;
}
.box-membership-selected img {
    filter: invert(1);
}
.box-membership:hover,
.box-membership-selected {
  cursor: pointer;
  background: rgb(0,141,156);
  background: linear-gradient(225deg, rgba(0,141,156,1) 0%, rgba(11,54,103,1) 100%);
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
}
.input-group input {
  border-radius: 0 !important;
  border-left: 0;
  border-top: 0;
  border-right: 0;
}
.input-group-text {
  background-color: transparent;
  border: none;
  font-size: 12px;
}
.box-promotor-picture {
  width: 70px;
  height: 70px;
  border-radius: 100%;
  background-size: cover;
  background-position: center;
}
.box-add-person {
  animation: rightToLeft 500ms forwards;
  position: relative;
  background-color: #fff;
  display: inline-block;
}

@keyframes rightToLeft {
  from {
    height: 0px;
    opacity: 0;
  }
  to {
    height: initial;
    opacity: 1;
  }
}
.box-healt-promotor-list:hover {
  cursor: pointer;
  background-color: #f7f7f7;
}
.box-healt-promotor-list:hover, 
.box-healt-promotor-list {
  transition: all ease 310ms;
}
.box-step-header {
  opacity: 0.2;
}
.box-step-header-active {
  opacity: 1;
}
.method-selected:after {
  content: '(Seleccionado)';
  display: table;
  width: 100%;
  text-align: center;
} 

.overlay-steps {
  background: #111;
  width: 100%;
  height: 100%;
  position: fixed;
  z-index: 1001;
  top: 0;
  left: 0;
}
#overlay-steps-container {
  height: 100%;
  overflow-y: scroll;
}