#chat-minimized .card-header,
#chat-minimized {
  border: none !important;
}
#chat-minimized {
  box-shadow: 0 12px 12px rgba(0,0,0,0.3);
}
#chat-minimized-content {
  overflow: hidden;
}
#webflow-chat-messages {
  height: 400px;
  overflow-y: scroll; 
}
#chat-minimized-content-preview 
{
  position: absolute;
  left: 0;
  bottom: -200px;
  /*color: #fff;*/
  width: 100%;
  height: 100%;
  display: inline-block;
  animation-name: toggleFade;
  animation-duration: 7s;
  animation-fill-mode: normal, reverse;
  animation-fill-mode: forwards;
}

@keyframes toggleFade {
  0% {
    bottom: -200px;
  }
  10% {
    bottom: 0px;
  }
  50% {
    bottom: 0px;
  }
  80% {
    bottom: -200px;
  }
}

#chat-maximized
{
  width: 420px !important;
  bottom: -1500px;
  position: absolute;
}

.toggleFadeOut {
  animation-name: toggleFadeOut;
  animation-duration: 1s;
  animation-fill-mode: forwards;
}

.toggleFadeIn {
  animation-name: toggleFadeIn;
  animation-duration: 1s;
  animation-fill-mode: forwards;
}

@keyframes toggleFadeIn {
  0% {
    bottom: -1500px;
  }
  100% {
    bottom: 0px;
    opacity: 1;
  }
}


@keyframes toggleFadeOut {
  0% {
    bottom: 0px;
  }
  100% {
    bottom: -1500px;
    opacity: 0;
  }
}
.chat-main-container-webflow {
  position: fixed;
  right: 2%;
  bottom: 2%;
  width: 420px;
}
.bg-primary #agent-status {
  color: #e0e0e0 !important;
}
.bg-primary #btn-maximize,
.bg-primary #agent-name 
{
  color: #fff !important;
}