body {
	background-color: #111;
}
.title-movie {
	position: absolute;
	bottom: 0;
	padding: 12px 4px;
	left: 0;
	background-color: #000000a6;
	color: #fff;
	width: 100%;
}
.box-movie,
.box-movie:hover {
	cursor: pointer;
	transition: all ease 250ms;
}
.box-movie:hover {
	box-shadow: 30px 30px 30px rgba(0,0,0,0.7);
}
.box-movie {
	box-shadow: 30px 30px 30px rgba(0,0,0,0.2);
	overflow-x: hidden;
	width: 100%;
	position: relative;
	height: 260px;
	background-size: cover;
	background-repeat: no-repeat;
}
video {
	width: 100%;
}