@font-face {
    font-family: 'PoppinsRegular';
    src: url('../../src/fonts/Poppins/Poppins-Regular.ttf');
}

@font-face {
    font-family: 'PoppinsBold';
    src: url('../../src/fonts/Poppins/Poppins-Bold.ttf');
}

@font-face {
    font-family: 'PoppinsBlack';
    src: url('../../src/fonts/Poppins/Poppins-Black.ttf');
}

@font-face {
    font-family: 'PoppinsLight';
    src: url('../../src/fonts/Poppins/Poppins-Light.ttf');
}

body {
    font-family: 'PoppinsRegular';
}

.fw-bold {
    font-family: 'PoppinsBlack';
}