nav a:hover,
nav a.current {
  opacity: 1;
  color: #fff !important;
  border-bottom: 5px solid #fff;
}
nav a:hover,
nav a {
  text-decoration: none;
}
nav a {
  text-decoration: none;
  font-size: 1.5rem;
  opacity: 0.5;
}
#header {
	position: absolute;
	width: 100%;
	z-index: 1000;
	background-color: transparent;
}

.sticky + #content {
	padding-top: 0;
}