.sticky {
  top: 0 !important;
}
@font-face {
    font-family: 'RNSSanz';
    src: url('../../src/fonts/RNSSanz/RNSSanz-Normal.ttf') format('truetype');
    font-style: normal;
}

@font-face {
    font-family: 'RNSSanzBold';
    src: url('../../src/fonts/RNSSanz/RNSSanz-Bold.ttf') format('truetype');
    font-style: normal;
}

@font-face {
    font-family: 'RNSSanzExtraBold';
    src: url('../../src/fonts/RNSSanz/RNSSanz-ExtraBold.ttf') format('truetype');
    font-style: normal;
}
#nav {
  z-index: 10001;
}

html,
body {
  overflow: auto;
}
body {
  font-family: RNSSanz;
}

.fw-bold {
  font-family: RNSSanzBold;
}

.text-primary {
  color: #2D2250 !important;
}
.bg-primary {
  background-color: #2D2250 !important;
}

.bg-home {
  background-image: url(../../src/img/home-bg.jpg);
  min-height: 900px;
  background-position: top;
  z-index: 0;
  /*background-attachment: fixed;*/
  position: relative;
  background-size: cover;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
}
.bg-loan {
  background-image: url(../../src/img/happy-woman.jpg);
  min-height: 900px;
  background-position: right;
  z-index: 0;
  background-attachment: fixed;
  position: relative;
  background-size: cover;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
}
.card-loan {
  height: 250px;
}

.card-loan:hover .text-muted,
.card-loan:hover .text-primary {
  color: white !important;
}
.card-loan:hover {
  background: #2D2250;
  cursor: pointer;
}
.card-loan,
.card-loan .text-primary,
.card-loan .text-muted,
.card-loan:hover .text-muted,
.card-loan:hover .text-primary,
.card-loan:hover {
  transition: all ease 500ms;
}

.card-people {
  background-image: url(../../src/img/happy-man.jpg);
  min-height: 660px;
  background-size: cover;
  background-position: center;
  position: relative;
  z-index: 10;
  overflow:hidden;
  border-radius: 1rem !important;
}
#about {
  position:relative;
}
#about:before
{
  content: 'abc';
  position: absolute;
  left:0;
  bottom:0;
  background-color: #2D2250;
  width: 100%;
  height: 50%;
}
.catalog-card-loan:hover .fs-3,
.catalog-card-loan:hover .fs-1,
.catalog-card-loan:hover .fs-4,
.catalog-card-loan:hover .text-primary {
  color: #fff !important;
}
.catalog-card-loan:hover {
  background-color: #2D2250;
}
.catalog-card-loan .fs-3,
.catalog-card-loan .fs-1,
.catalog-card-loan .fs-4,
.catalog-card-loan .text-primary,
.catalog-card-loan:hover .fs-3,
.catalog-card-loan:hover .fs-1,
.catalog-card-loan:hover .fs-4,
.catalog-card-loan:hover .text-primary,
.catalog-card-loan:hover,
.catalog-card-loan {
  transition:  all ease 200ms;
}