.bg-section-2 {
  height: 450px;
  background-repeat: no-repeat;
  background-position: center left;
  background-position: 0 1px;
  background-size: cover;
  background-image: url(../../src/img/h-2-1.png);
}
.bg-section-3 {
  height: 450px;
  background-repeat: no-repeat;
  background-position: center left;
  background-position: 0 1px;
  background-size: cover;
  background-image: url(../../src/img/h-3-1.png);
}
.bg-section-4 {
  height: 450px;
  background-repeat: no-repeat;
  background-position: center left;
  background-position: 0 1px;
  background-size: cover;
  background-image: url(../../src/img/h-4-1.png);
}
.bg-section-5 {
  height: 450px;
  background-repeat: no-repeat;
  background-position: center left;
  background-position: 0 1px;
  background-size: cover;
  background-image: url(../../src/img/h-5-1.png);
}
.bg-section-6 {
  height: 450px;
  background-repeat: no-repeat;
  background-position: center left;
  background-position: 0 1px;
  background-size: cover;
  background-image: url(../../src/img/h-6-1.png);
}
.bg-section-7 {
  height: 510px;
  background-repeat: no-repeat;
  background-position: center left;
  background-position: 0 1px;
  background-size: cover;
  background-image: url(../../src/img/h-7-1.png);
}
.bg-section-8 {
  height: 450px;
  background-repeat: no-repeat;
  background-position: center left;
  background-position: 0 1px;
  background-size: cover;
  background-image: url(../../src/img/h-8-1.png);
}
.bg-section-9 {
  height: 450px;
  background-repeat: no-repeat;
  background-position: center left;
  background-position: 0 1px;
  background-size: cover;
  background-image: url(../../src/img/h-9-1.png);
}

.bg-section-10 {
  height: 450px;
  background-repeat: no-repeat;
  background-position: center left;
  background-position: 0 1px;
  background-size: cover;
  background-image: url(../../src/img/h-10-1.png);
}
.bg-section-11 {
  height: 450px;
  background-repeat: no-repeat;
  background-position: center left;
  background-position: 0 1px;
  background-size: cover;
  background-image: url(../../src/img/h-11-1.png);
}
.bg-section-12 {
  height: 450px;
  background-repeat: no-repeat;
  background-position: center left;
  background-size: cover;
  background-image: url(../../src/img/h-12-1.png);
}
.bg-section-13 {
  height: 450px;
  background-repeat: no-repeat;
  background-position: center left;
  background-position: 0 1px;
  background-size: cover;
  background-image: url(../../src/img/h-13-1.png);
}
.bg-section-14 {
  height: 450px;
  background-repeat: no-repeat;
  background-position: center;  
  background-size: contain;
  background-image: url(../../src/img/amazfit-gts.jpg);
}
.bg-section-15 {
  height: 450px;
  background-repeat: no-repeat;
  background-position: center left;
  background-position: 0 1px;
  background-size: cover;
  background-image: url(../../src/img/h-15-1.jpg);
}
.bg-section-16 {
  height: 450px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-image: url(../../src/img/h-16-1.jpg);
}
.bg-section-17 {
  height: 450px;
  background-repeat: no-repeat;
  background-position: center left;
  background-position: 0 1px;
  background-size: cover;
  background-image: url(../../src/img/h-17-1.jpg);
}
.bg-section-18 {
  height: 450px;
  background-repeat: no-repeat;
  background-position: center left;
  background-position: 0 1px;
  background-size: cover;
  background-image: url(../../src/img/h-18-1.png);
}

.bg-section-19 {
  height: 450px;
  background-repeat: no-repeat;
  background-position: center left;
  background-position: 0 1px;
  background-size: cover;
  background-image: url(../../src/img/h-19-1.png);
}
.section-1 {
    height: 800px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-image: url(../../src/img/s-8-1.png);
}

.bg-section-20 {
  height: 550px;
  background-repeat: no-repeat;
  background-position: center left;
  background-position: 0 1px;
  background-size: cover;
  background-image: url(../../src/img/h-20-1.png);
}
.section-20 {
  height: 550px;
  background-repeat: no-repeat;
  background-position: center left;
  background-position: 0 1px;
  background-size: cover;
  background-image: url(../../src/img/h-20-1.png);
}