.box-step{ padding: 0px 0 20px 0;}
.has-success:after,
.has-error:after
{
  width: 40px;
  height: 40px;
  display: inline-block;
  padding: 5px 0px;
  border-radius: 27px;
  margin-top: -39px;
  position: absolute;
  border: 3px solid #eee;
  left: -44px;
  color: #fff !important;
  transition: all 100ms;
  padding-left: 8px;
}
.has-error:after
{
  background: red;
  content: '\2716' !important;
  padding-left: 2px;
}
.has-success:after
{
  background: #4FC996;
  content: '\2713' !important;
  padding-left: 0px;
}
.box-welcome {
  background-color: #5d1b58;
  color: #FFF;
  min-height: 320px;
}
.text-welcome {
  font-weight: 800;
  font-size: 40px;
  padding-top: 20px;
  padding-bottom: 20px;
  text-shadow: -5px -5px 5px #aaa;
}
.user-name,.user_id{
  font-size: 22px;
  font-weight: 600; 
}


#sponsor_names,
#colocation_names
{
  /*background-color: #EEE;*/
  border-bottom: 2px solid #eee;
  margin-bottom: 15px;
  text-align: center;
  font-size: 22px;
  padding: 30px 0px;
  display: inline-block;
}

#sponsor_names:before,
#colocation_names:before
{
  position: absolute;
  top: -10px;
  left: 28%;
  right: 27%;
  font-size: 15px;
  color: #AAA;
}
#sponsor_names:before
{
  content: 'ID Patrocinador (Frontal) ';
}
#colocation_names:before
{
  content: 'ID Patrocinador (Colocación) ';
}
.no-opacity
{
  opacity: 0;
}
.img-thumbnail
{
  width: 90%;
}
.title
{
  margin-bottom: 22px;
}
.box-title-step
{
      padding-bottom: 18px;
    color: #566;
    font-size: 26px;
    border-bottom: 2px solid #eee;
    background-color: white;
    font-weight: 500;
    margin-bottom: 29px;
    text-shadow: 0 0 5px rgba(0,0,0,0.1);
}
.box-info-colocation
{
  color: #31A4A4;
  padding: 12px 82px !important;
}
.box-info-colocation-title
{
    font-size: 18px;
    font-weight: 500;
}
.box-info-colocation-content
{
    padding-top: 2px;
    line-height: 18px;
    font-size: 16px;
}
.tt-menu
{
  background-color: #31A4A4;
  color: #fff;
  width: 100%;
}
.tt-suggestion,
.tt-suggestion:hover
{
  transition: all 300ms ease;
}
.tt-suggestion:hover
{
  background-color: #666;
}
.tt-suggestion
{
  cursor: pointer;
  padding: 6px 22px;
}

.box-signup-message
{
    text-align: center;
    margin-top: 122px;
    font-size: 23px;
    color: #777;
}

.steps-box{
  margin-top: 100px !important;
}
.box-terms a{
  color: #22a8ae !important; 
}