body {
  background-image: url(../../src/img/bg-buy.jpg);
  background-size: cover;
  background-attachment: fixed;
}
a {
  font-size: 17px;
}
.box-login-header {
	height: 200px;
	width: 100%;
	display: inline-block;
	background-image: url(../../src/img/login.jpg);
	background-attachment: fixed;
	background-size: cover;
}
.box-login {
  overflow: hidden;
  background-color: #FFF;
  border-radius: 5px;
  box-shadow: 0px 50px 60px rgba(0,0,0,0.1);
}
.btn {
	border-radius: 10rem;
}
label {
	width: 100%;
  display: inline-block;
  text-align: left;
  font-size: 13px;
  margin-bottom: 3px;
  color: #464e54;
}
input {
	border-radius: 10rem !important;
}
a {
	color: #18ace4;
}