#nav {
    -webkit-animation: bgcolor ease-in 1300ms forwards;
    animation: bgcolor ease-in 1300ms forwards;
    animation-delay: 200ms;

}

@keyframes bgcolor {
	0% {
		background-color: #0149b0;
	}
    100% {
        background-color: #3b2276;
    }
}