.border-primary-lg:hover .btn-outline-primary,
.border-primary-lg:hover .text-xdark,
.border-primary-lg:hover .text-muted {
    color: #ffff !important;
}
.border-primary-lg:hover {
    background-color: #3041fd;
    color: #ffff !important;
    cursor: pointer;
}
.border-primary-lg .btn-outline-primary,
.border-primary-lg .text-xdark,
.border-primary-lg .text-muted,
.border-primary-lg:hover .btn-outline-primary,
.border-primary-lg:hover .text-xdark,
.border-primary-lg:hover .text-muted,
.border-primary-lg,
.border-primary-lg:hover {
    transition: all linear 300ms;
}
.border-primary-lg {
    border: 2px solid #3041fd;
}
.card-special {
    height: 160px;
}