.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
  color: #4e73df !important;
  background-color: #f8f9fc !important;
  border-bottom: 1px solid #4e73df;
  border-radius: 0;
  opacity: 1;
}

.nav-pills a {
  color: #4a5cb5 !important;
  opacity: 0.4;
  padding-bottom: 19px;
}