footer,
body {
	background-color: #1f1f27;
}
.border-gray {
  border-color: #343442 !important;
}
.border-orange .text-muted {
	color: #fff !important;
}
.border-orange {
  border-color: #ca6e0b !important;
}
.bg-radial {
	background-color: #ce6317;
	background-attachment: fixed;
	background-image: radial-gradient(circle farthest-side at center bottom,#ce6317,#d2267d 125%);
}
.box-stats:hover {
	cursor: pointer;
	box-shadow: 0 0px 25px 9px rgba(0,0,0,.2);
	background-color: #1f1f27 !important;
	color: white;
}
.box-stats:hover,
.box-stats {
	transition: all ease 400ms;
}
.box-stats {
	/*box-shadow: 0 0px 15px 9px rgba(0,0,0,.03);*/
	border-radius: 2px;
	border-left-color: #07A;
	border-left-width: 5px;
	border-left-style: solid;
	/*background-color: #CFCFCF;*/
}
.box-stats-title {
	font-size: 12px;
	letter-spacing: -0.2px;
	
	height: 26px;
  line-height: 26px;
}
.box-status-value {
	font-size: 26px;
	font-weight: 500;
}
.box-item-content {
	font-size: 28px;
	position: relative;
	padding-top: 12px;
}
.box-item-child {
  font-size: 14px;
  position: absolute;
  left: 0;
  display: inline-block;
  width: 100%;
  text-align: center;
  bottom: 33px;
}