.box-packages {
  padding: 12px 32px;
}
.box-package-title {
  height: 60px;
  font-size: 23px;
  padding-top: 17px;
  line-height: 23px;
}
.box-package-description li:hover
{
  color: #fff;
  font-weight: 100;
}
.box-package-description li:hover,
.box-package-description li {
  transition: all ease 200ms;
}
.box-package-description li {
  padding: 4px 0;
  color: #CCC;
  display: inline-block;
  width: 100%;
  cursor: pointer;
}
.box-package-description ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
.box-package-description {
  min-height: 500px;
  font-size: 14px;
  padding: 12px 32px;
  /*background-color: #333;*/
}
.box-package {
  margin-top: 0;
  padding-top: 0;
  background-color: #06A;
  color: #fff;
  cursor: pointer;
  /*padding: 12px 32px;*/
}
.box-package-price {
  background-color: #222;
  padding: 12px 0;
  width: 100%;
  display: inline-block;
  width: 100%;
  font-size: 28px;
  font-weight: 700;
}
.box-package,
.box-package:hover
{
  transition: all ease 200ms;
}
.box-package:hover
{
  color: #fff;
  box-shadow: 0 2px 32px rgba(0,0,0,0.8);
  margin-top: 22px;
}