@media screen and (max-width: 600px) 
{
	.dt-button {
		display: none !important;
	}
	.img-brand {
		width: 120px !important;
	}
	.bg-home {
		min-height: 550px !important;
	}
}
@media (max-width: 767px) {
    .table-responsive .dropdown-menu {
        position: static !important;
    }
}
@media (min-width: 920px) {
}
    /*.table-responsive {
        overflow: inherit;
    }*/