body {
      background-color: #313131;
    background-attachment: fixed;
    color: white;
    background-image: radial-gradient(circle farthest-side at center bottom,#1e1e1f,#2e2d3c 125%);
}
.input-code {
  width: 28px !important;
  display: inline-block;
  border: none;
  font-size: 32px;
  text-align: center;
  background: #f7f7f7;
  border-radius: 5px;
  margin: 0 2px;
  font-weight: 100;
}

.box-vertical-center {
  display: flex;
  align-items: center; 
}