.template-info,
.template-box:hover .template-info {
  transition: all ease 500ms;
}
.template-box:hover .template-info {
  background: #EEE;
  top: 0;
  opacity: 1;
}
.template-box {
  position: relative;
  overflow: hidden;
}
.template-info {
  top: -500px;
  opacity: 0;
  position: absolute;
  height: 100%;
  width: 100%;
  background: #777;
}

.box-template {
    opacity: 0.4;
    filter: grayscale(1);
    transition: all ease 100ms;
}
.box-template:hover {
    opacity: 1;
    filter: grayscale(0);
    transition: all ease 500ms;
    box-shadow: 2px 2px 12px rgba(0,0,0,.1);
    transform: scaleY(1.02) scaleX(1.02);
}
.template-description {
  height: 50px;
}
.card-img-top-template
{
  min-height: 250px;
  height: 250px;
  object-fit: cover;
}