@font-face {
  font-family: 'GeomanistRegular';
  src: url('../../src/fonts/Geomanist-Regular.woff');
}
@font-face {
  font-family: 'GeomanistMedium';
  src: url('../../src/fonts/Geomanist-Medium.woff');
}
.font-regular {
  font-family: 'GeomanistRegular';
}
.font-medium {
  font-family: 'GeomanistMedium';
}
.color-white { color: #fff; }

.box-vertical-center {
/*  background-image:  url('../../src/img/phoneFP.png');*/
  display: flex;
  align-items: center; 
}
.contenerdor{
  background-image:  url('../../src/img/bg/tuto.png');
}
.video-tutu{
  margin-left: 38px;
  min-height: 650PX;
  min-width: 320PX;
  background-image: url('../../src/img/phoneFP.png');
}
.movie{
width: 267px;
margin-top: 91px;
margin-left: 9px;
}

/*navbar*/
.office-content{
  margin-bottom: 400px;
  top: 200px;

}
.page-wrapper .sidebar-wrapper,
.sidebar-wrapper .sidebar-brand > a,
.sidebar-wrapper .sidebar-dropdown > a:after,
.sidebar-wrapper .sidebar-menu .sidebar-dropdown .sidebar-submenu li a:before,
.sidebar-wrapper ul li a i,
.page-wrapper .page-content,
.sidebar-wrapper .sidebar-search input.search-menu,
.sidebar-wrapper .sidebar-search .input-group-text,
.sidebar-wrapper .sidebar-menu ul li a,
#show-sidebar,
#close-sidebar {
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

/*----------------page-wrapper----------------*/
/*
.page-wrapper {
  height: 100vh;
}
*/
.page-wrapper .theme {
  width: 40px;
  height: 40px;
  display: inline-block;
  border-radius: 4px;
  margin: 2px;
}

.page-wrapper .theme.chiller-theme {
  background: #1d1d1d;
}

.page-wrapper .theme.ice-theme {
  background: #2b3a42;
}

.page-wrapper .theme.light-theme {
  background: #f1f0ed;
}

.page-wrapper .theme.cool-theme {
  background: #38373d;
}

.page-wrapper .theme.green-theme {
  background: #2c5e2e;
}

.page-wrapper .theme.spicy-theme {
  background: #8e2800;
}

.page-wrapper .theme.purple-theme {
  background: #372049;
}

/*----------------toggeled sidebar----------------*/

.page-wrapper.toggled .sidebar-wrapper {
  left: 0px;
}

@media screen and (min-width: 768px) {
  .page-wrapper.toggled .page-content {
    padding-left: 300px;
  }
}

/*----------------show sidebar button----------------*/
#show-sidebar {
  position: fixed;
  left: 0;
  top: 100px;
  border-radius: 0 4px 4px 0px;
  width: 60px;
  height: 60px;
  transition-delay: 0.3s;
  z-index: 1001;
  background: #f77a15;
}
.page-wrapper.toggled #show-sidebar {
  left: -90px;
}

i.fas.fa-futbol {
    font-size: 45px;
    color: black;
    /* background: #28a745; */
}

/*----------------sidebar-wrapper----------------*/

.sidebar-wrapper {
    width: 260px;
    height: 112%;
    max-height: 101%;
    position: fixed;
    top: -1px;
    left: -303px;
    z-index: 999;
}

.sidebar-wrapper ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.sidebar-wrapper a {
  text-decoration: none;
}

/*----------------sidebar-content----------------*/

.sidebar-content {
  max-height: calc(100% - 30px);
  height: calc(100% - 30px);
  overflow-y: auto;
  position: relative;
}

.sidebar-content.desktop {
  overflow-y: hidden;
}

/*--------------------sidebar-brand----------------------*/

.sidebar-wrapper .sidebar-brand {
  padding: 10px 20px;
  display: flex;
  align-items: center;
}

.sidebar-wrapper .sidebar-brand > a {
  text-transform: uppercase;
  font-weight: bold;
  flex-grow: 1;
}

.sidebar-wrapper .sidebar-brand #close-sidebar {
  cursor: pointer;
  font-size: 20px;
}
/*--------------------sidebar-header----------------------*/

.sidebar-wrapper .sidebar-header {
  padding: 20px;
  overflow: hidden;
}

.sidebar-wrapper .sidebar-header .user-pic {
  float: left;
  width: 60px;
  padding: 2px;
  border-radius: 12px;
  margin-right: 15px;
  overflow: hidden;
}

.sidebar-wrapper .sidebar-header .user-pic img {
  object-fit: cover;
  height: 100%;
  width: 100%;
}
.user-pic img:hover{
  cursor: pointer;
}

.sidebar-wrapper .sidebar-header .user-info {
  float: left;
}

.sidebar-wrapper .sidebar-header .user-info > span {
  display: block;
}

.sidebar-wrapper .sidebar-header .user-info .user-role {
  font-size: 12px;
}

.sidebar-wrapper .sidebar-header .user-info .user-status {
  font-size: 11px;
  margin-top: 4px;
}

.sidebar-wrapper .sidebar-header .user-info .user-status i {
  font-size: 8px;
  margin-right: 4px;
  color: #5cb85c;
}

/*-----------------------sidebar-search------------------------*/

.sidebar-wrapper .sidebar-search > div {
  padding: 10px 20px;
}

/*----------------------sidebar-menu-------------------------*/

.sidebar-wrapper .sidebar-menu {
  padding-bottom: 10px;
}

.sidebar-wrapper .sidebar-menu .header-menu span {
  font-weight: bold;
  font-size: 14px;
  padding: 15px 20px 5px 20px;
  display: inline-block;
}

.sidebar-wrapper .sidebar-menu ul li a {
  display: inline-block;
  width: 100%;
  text-decoration: none;
  position: relative;
  padding: 8px 30px 8px 20px;
}

.sidebar-wrapper .sidebar-menu ul li a i {
  margin-right: 10px;
  font-size: 12px;
  width: 30px;
  height: 30px;
  line-height: 30px;
  text-align: center;
  border-radius: 4px;

}

.sidebar-wrapper .sidebar-menu ul li a:hover > i::before {
  display: inline-block;
  animation: swing ease-in-out 0.5s 1 alternate;
}

.sidebar-wrapper .sidebar-menu .sidebar-dropdown > a:after {
  font-weight: 900;
  font-family: 'Font Awesome 5 Free';
  content: "\f105";
  font-style: normal;
  display: inline-block;  
  font-variant: normal;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  background: 0 0;
  position: absolute;
  right: 15px;
  top: 14px;
}

.sidebar-wrapper .sidebar-menu .sidebar-dropdown .sidebar-submenu ul {
  padding: 5px 0;
}

.sidebar-wrapper .sidebar-menu .sidebar-dropdown .sidebar-submenu li {
  padding-left: 25px;
  font-size: 13px;
}

.sidebar-wrapper .sidebar-menu .sidebar-dropdown .sidebar-submenu li a:before {
  font-family: 'Font Awesome 5 Free';
  content: "\f111";
  font-weight: 400;
  font-style: normal;
  display: inline-block;
  text-align: center;
  text-decoration: none;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  margin-right: 10px;
  font-size: 8px;
}

.sidebar-wrapper .sidebar-menu ul li a span.label,
.sidebar-wrapper .sidebar-menu ul li a span.badge {
  float: right;
  margin-top: 8px;
  margin-left: 5px;
}

.sidebar-wrapper .sidebar-menu .sidebar-dropdown .sidebar-submenu li a .badge,
.sidebar-wrapper .sidebar-menu .sidebar-dropdown .sidebar-submenu li a .label {
  float: right;
  margin-top: 400px;
}

.sidebar-wrapper .sidebar-menu .sidebar-submenu {
  display: none;
}

.sidebar-wrapper .sidebar-menu .sidebar-dropdown.active > a:after {
  transform: rotate(90deg);
  right: 17px;
}



/*--------------------------page-content-----------------------------*/

.page-wrapper .page-content {
  display: inline-block;
  width: 100%;
  padding-left: 0px;
  padding-top: 20px;
}

.page-wrapper .page-content > div {
  padding: 20px 40px;
}

.page-wrapper .page-content {
  overflow-x: hidden;
}

/*------scroll bar---------------------*/

::-webkit-scrollbar {
  width: 7px;
  height: 7px;
}
::-webkit-scrollbar-button {
  width: 0px;
  height: 0px;
}
::-webkit-scrollbar-thumb {
  background: #636269;
  border: 0px none #ffffff;
  border-radius: 50px;
}
::-webkit-scrollbar-thumb:hover {
  background: #636269;
}
::-webkit-scrollbar-thumb:active {
  background: #636269;
}
::-webkit-scrollbar-track {
  background: #333238;
  border: 0px none #ffffff;
  border-radius: 50px;
}
::-webkit-scrollbar-track:hover {
  background: ##1b6363;
}
::-webkit-scrollbar-track:active {
  background: #333238;
}
::-webkit-scrollbar-corner {
  background: transparent;
}


/*-----------------------dark theme---------------------*/

.cool-theme .sidebar-wrapper {
  background: #f77a15;
}

.cool-theme .sidebar-wrapper .sidebar-header,
.cool-theme .sidebar-wrapper .sidebar-search,
.cool-theme .sidebar-wrapper .sidebar-menu {
  border-top: 1px solid ;
}

.cool-theme .sidebar-wrapper .sidebar-search input.search-menu,
.cool-theme .sidebar-wrapper .sidebar-search .input-group-text {
  border-color: #f77a15;
  box-shadow: none;
}

.cool-theme .sidebar-wrapper .sidebar-header .user-info .user-role,
.cool-theme .sidebar-wrapper .sidebar-header .user-info .user-status,
.cool-theme .sidebar-wrapper .sidebar-search input.search-menu,
.cool-theme .sidebar-wrapper .sidebar-search .input-group-text,
.cool-theme .sidebar-wrapper .sidebar-brand > a,
.cool-theme .sidebar-wrapper .sidebar-menu ul li a,
.cool-theme .sidebar-footer > a {
  color:#ffffff;
}

.cool-theme .sidebar-wrapper .sidebar-menu ul li:hover > a,
.cool-theme .sidebar-wrapper .sidebar-menu .sidebar-dropdown.active > a,
.cool-theme .sidebar-wrapper .sidebar-header .user-info,
.cool-theme .sidebar-wrapper .sidebar-brand > a:hover,
.cool-theme .sidebar-footer > a:hover i {
  color: #ffffff;
}

.page-wrapper.cool-theme.toggled #close-sidebar {
  color: #ffffff;
}

.page-wrapper.cool-theme.toggled #close-sidebar:hover {
  color: #ffffff;
}

.cool-theme .sidebar-wrapper ul li:hover a i,
.cool-theme
  .sidebar-wrapper
  .sidebar-dropdown
  .sidebar-submenu
  li
  a:hover:before,
.cool-theme .sidebar-wrapper .sidebar-search input.search-menu:focus + span,
.cool-theme .sidebar-wrapper .sidebar-menu .sidebar-dropdown.active a i {
  color: #ffffff;
}

.cool-theme .sidebar-wrapper .sidebar-menu ul li a i,
.cool-theme .sidebar-wrapper .sidebar-menu .sidebar-dropdown div,
.cool-theme .sidebar-wrapper .sidebar-search input.search-menu,
.cool-theme .sidebar-wrapper .sidebar-search .input-group-text {
  background: ##0e0e0e;
}

.cool-theme .sidebar-wrapper .sidebar-menu .header-menu span {
  color: #ffffff;
}

.cool-theme .sidebar-footer {
  background: #504e57;
  box-shadow: 0px -1px 5px #2a292d;
  border-top: 1px solid #5b5963;
}

.cool-theme .sidebar-footer > a {
  border-left: 1px solid #38373d;
  border-right: 1px solid #5b5963;
}

.cool-theme .sidebar-footer > a:first-child {
  border-left: none;
}

.cool-theme .sidebar-footer > a:last-child {
  border-right: none;
}
/*estilos de  perfil de css*/

body {
  margin: auto; 
  font-family: 'Open Sans', sans-serif;
}

.info p {
  text-align:center;
  color: #999;
  text-transform:none;
  font-weight:600;
  font-size:15px;
  margin-top:2px
}

.info i {
  color:#F6AA93;
}
.fa-navicon:before, .fa-reorder:before, .fa-bars:before {
    font-size: 32px;
    /* size: 77px; */
    content: "\f0c9";
}
.info {
  background-color: #5bc0de !important;
  color: #FFF;
  font-weight: 600;
  text-align: center;
  font-size: 14px;
}
.input_text {
  border-radius: 5px 5px 5px 5px;
  border: 1px solid #eee;
  margin-bottom: 15px;
  width: 75%;
  height: 40px;
  float: left;
  padding: 0px 15px;
}


a {
  text-decoration:inherit
}

.textarea {
  border-radius: 0px 5px 5px 0px;
  border: 1px solid #EEE;
  margin: 0;
  width: 75%;
  height: 130px; 
  float: left;
  padding: 0px 15px;
}

.form-group {
  overflow: hidden;
  clear: both;
  display: flex;
}

.icon-case {
  width: 35px;
  float: left;
  border-radius: 5px 0px 0px 5px;
  background:#eeeeee;
  height:42px;
  position: relative;
  text-align: center;
  line-height:40px;
}

.contentform {
  padding: 40px 30px;
}
.bouton-contact{
  background-color: #81BDA4;
  color: #FFF;
  text-align: center;
  width: 100%;
  border:0;
  padding: 17px 25px;
  border-radius: 0px 0px 5px 5px;
  cursor: pointer;
  margin-top: 40px;
  font-size: 18px;
}
