.box-user-upload-picture:hover {
	cursor: pointer;
}
.box-user-upload-picture,
.box-user-upload-picture:hover {
	transition: all ease 400ms;
}
.box-user-upload-picture:before {
	animation: example2 1500ms forwards;
	width: 220px;
	height: 220px;
	background: #f1f1f1;
	content: '';
	position: absolute;
	left: 0;
	top: 0;
	left: 1000px;
	display: inline-block;
	border-radius: 100%;
}
.box-user-upload-picture:hover p {
	z-index: 1001;
	position: relative;
}
.box-user-upload-picture:hover:before {
	animation: example 1500ms forwards;
}
.box-user-upload-picture {
  	width: 220px;
  	height: 220px;
  	position: relative;
  	overflow: hidden;
  	background: #f1f1f1;
  	display: inline-block;
  	border-radius: 100%;
  	background-position: center;
  	background-size: cover;
}
@keyframes example { 
	0% {
		left: 1000px;
		opacity: 0;
	}
	100% {
		background: #fff;
		opacity: 1;
		left: 0px;
	}
}
@keyframes example2 { 
	0% {
		left: 0px;
		opacity: 1;
	}
	100% {
		opacity: 0;
		left: -1000px;
	}
}
#text-image {
	text-shadow: 0 2px 5px rgba(0,0,0,0.7);
}