.box-container,
.box-horizontal-center,
.elements-center-horizontal,
.text-style-1,
.text-font-color,
.align-mail {
    box-sizing: border-box;
    margin: 0;
    min-width: 0;
}

.box-container {
    width: 100%;
    margin: 0 auto;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 20px;
    padding-right: 20px;
    border-radius: 2px;
    background-color: #fff;
    margin-top: 27px;
}
.box-horizontal-center {
    width: 100%;
    text-align: center;
}
.elements-center-horizontal {
    width: 100%;
    margin: 0 auto;
}
.img-height {
    height: 80px;
}
.text-style-1 {
    margin-top: 24px;
    margin-bottom: 16px;
    font-weight: 500;
    font-size: 20px;
}
.text-font-color {
    margin-bottom: 24px;
    line-height: 20px;
    color: #474D57;
}
.align-mail {
}
.align-left{
    text-align: left;
    width: 100%;
}
.resend-button-style {
    box-sizing: border-box;
    min-width: 0px;
    cursor: pointer;
    text-align: center;
    color: rgb(120, 20, 255);
    margin: 24px 0px 0px;
}
.button-customize-green,
.button-customize-blue {
  border-radius: 11px;
  padding: 10px 35px; 
  color: #ffffff;
  margin-top: 15px;
  display: inline-block;
  font: normal bold 16px "Open Sans", sans-serif;
  text-align: center;
}
.button-customize-green{
  background: #15d798;
}
.button-customize-blue{
  background: #15aad7;
}
