.box-schedule:not(:last-child)
{
  border-bottom: 1px solid #f1f1f1;
}
.box-schedule {
  background: #f9f9f9;
  color: #222;
}
.lead-sm {
  font-size: 14px;
}

.box-schedule-0 {
  opacity: 0.2;
}
.box-schedule-1 {
  background: #036ee0;
  color: #fff;
}

.box-schedule-soon {
  -webkit-animation: flashing 3s infinite;  /* Safari 4+ */
  -moz-animation: flashing 3s infinite;  /* Fx 5+ */
  -o-animation: flashing 3s infinite;  /* Opera 12+ */
  animation: flashing 3s infinite;  /* IE 10+, Fx 29+ */
}

@-webkit-keyframes flashing {
  0%, 49% {
    background-color: #036ee0;
  }
  50%, 100% {
    background-color: #095eb9;
  }
}