#page,
#main {
  height: 100%;
  width: 100%;
}
.ui-resizable-helper::before{
  content: '';
  display: block;
  box-sizing: border-box;
  height: 100%;
  background-image: url("data:image/svg+xml,%3csvg width='100%25' height='100%25' xmlns='http://www.w3.org/2000/svg'%3e%3crect width='100%25' height='100%25' fill='none' rx='2' ry='2' stroke='black' stroke-width='2' stroke-dasharray='6%2c 14' stroke-dashoffset='44' stroke-linecap='square'/%3e%3c/svg%3e");
  border-radius: 2px;
}
#main-aside {
  z-index: 100000003;
}
.aside-left 
{
  background-color: rgba(0,0,0,0.5) !important;
  border: none;
}
#drop-left {
  position: fixed;
  left: 0;
  top: 0;
  width: 200px;
  z-index: 1;
}
.main-aside-floating:hover {
  opacity: 1;
}
.main-aside-floating,
.main-aside-floating:hover
{
  transition: all ease 200ms;
}
.main-aside-floating 
{
  z-index: 1000;
  border-radius: 4px;
  overflow: hidden;
  box-shadow: 0 12px 22px rgba(0,0,0,0.1);
  position: fixed;
  width: 380px;
  opacity: 0.8;
  top: 90px;
  left: 42px;
}
.bg-gray-light {
  background-color: #e7ebee;
}
.bg-gray {
  background-color: #e7ebee;
}
#box-searcher {
  z-index: 10001;
  position: fixed;
  left: 0;
  top: 0;
  background: rgba(0,0,0,0.7);
}
#webflow-search {
  width: 100%;
  background: #222;
  border: 1px solid #555;
  border-radius: 5px;
  height: 52px;
  padding: 12px 22px;
  box-shadow: 4px 6px  12px rgba(0,0,0,0.2);
  color: #d6d6d6;
  font-size: 22px;
}
.element-webflow {
  background: #333;
  color: #fff;
  border: 1px solid #444;
  border-radius: 4px;
  font-size: 14px;
  padding: 2px 12px;

}
.lead-sm {
  font-size: 14px;
}
#box-searcher ul > li:hover {
  background: #333;
  cursor: pointer;
}
#box-searcher ul > li:hover,
#box-searcher ul > li: {
  transition: all ease 200ms;
}
#box-searcher ul > li {
  color: #fff;
}
#box-searcher ul {
  border: 1px solid #555;
  background: #222;
  border-radius: 4px;
  top: 10px;
  list-style: none;
  margin: 0;
  padding: 0;
  width: 100%;
}
.d-none {
  display: none!important;
}
#aside .card-body {
  padding: 12px 0;
}
#aside .card {
  background: #1b1b1b;
}
#aside {
  /*overflow-y: scroll;*/
}
#aside-button-floating {
  z-index: 100001;
  position: fixed;
  left: -4px;
  top: 36px;
}
.selector input {
  cursor: pointer;
}
.color-picker {
  width: 22px;
  height: 22px;
  background: #222;
  border: 1px solid #CACACA;
  position: absolute;
  right: 17px;
  top: 3px;
  border-radius: 3px;
}
.webflow-item-selected-span {
  position: absolute;
  background: rgba(255, 0, 0, 0.5);
  border-radius: 0 0 4px 4px;
  padding: 0 4px;
  color: #4e4e4e;
  opacity: 0;
  display: none;
  font-size: 12px !important;
  font-family: monospace;
  letter-spacing: -1px;
  font-size: 15px;
}
.card,
.card-body,
.card-header {
  background-color: #fffeff;
}
.card-header:first-child,
.card {
  border-radius: 0 !important;
}
.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
  color: #ffffff !important;
  background-color: #040cff !important;
  border-radius: 0;
  opacity: 1;
}
.border-top, .border-left, .border-bottom, .border-right {
  border-color: #cdd3d8 !important;
}
.nav-pills a {
    color: #333333 !important;
    opacity: 0.2;
    padding: 10px 14px;
}
.bg-xdark {
  background-color: #1d1919;
}
#aside .input-group .form-control {
  border-radius: 5px;
}
#aside .input-group:hover .input-group-text {
  font-weight: 600 !important;
}
#aside .input-group-text,
#aside .input-group:hover .input-group-text {
  transition: all linear 67ms;
}
#aside .input-group-text {
  background: transparent;
  border: none;
  font-size: .8rem;
  color: #124952;
  font-weight: 100;
}
#aside label {
  color: #CACACA;
  font-size: 12px;
}
.border-top-black {
  border-color: #383838 !important;
}

.form-control:disabled, .form-control[readonly] {
  opacity: 0.5;
}
.custom-select {
  border-radius: 4px !important;
  color: #222;
}
.webflow-item-selected:before {
  background: rgba(255, 0, 0, 1) !important;
}
.webflow-item-hovered,
.webflow-item-selected {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
}
.webflow-item-hovered {
  border: 4px solid #06A;
}
.webflow-item-selected {
  /*border: 4px solid #07A;*/
}
.border-bottom-dark {
  border-color: #D0D5DA !important
}
#aside #elementList .card-body,
#aside #elementListAdd .card-body {
    flex: 1 1 auto;
    min-height: 1px;
    padding: 1.5rem;
}

#aside #elementList .card,
#aside #elementListAdd .card {
    border-color: #edf2f9;
    box-shadow: 0 0.75rem 1.5rem rgba(18,38,63,.03);
    position: relative;
    display: flex;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-clip: border-box;
    border: 1px solid #edf2f9;
}
#aside .alert-danger .close {
  color: #fff;
}
#aside .alert-danger {
  color: #fff;
  background-color: #e63757;
  border-color: #e63757;
}
.box-element:hover {
  cursor: pointer;
  background-color: #222 !important;
  box-shadow: 0 12px 12px rgba(0,0,0,0.2) !important;
}
.box-element,
.box-element:hover {
  transition: all ease 500ms;
}

.card-transparent .card-header,
.card-transparent .card-footer,
.card-transparent {
  background-color: #fff !important;
}
.box-element-list:not(:last-of-type) {
  /*border-bottom: 1px solid #403838 !important ;*/
}
.box-element-image {
  width: 100%;
  height: 250px;
  background-size: cover;
  display: inline-block;
} 
.card-img-overlay-main {
  position: relative;
  cursor: pointer;
}
.card-img-overlay-main:after {
  width: 100%;
  height: 100%;
  content: '';
  box-shadow: inset 0 0 2000px rgba(0, 0, 0, .5);
  filter: blur(10px);
  left: 0;
  top: 0;
  position: absolute;
}
.card-img-overlay-main:hover:before {
  left: 0;
}
.card-img-overlay-main,
.card-img-overlay-main:after,
.card-img-overlay-main:hover:after,
.card-img-overlay-main:hover:before,
.card-img-overlay-main:before {
  transition: all ease 500ms;
}
.card-img-overlay-main:before {
  content: 'Clic para añadir';
  cursor: pointer;
  background-color: rgba(0,0,0,0.9);
  font-size: 32px;
  line-height: 240px;
  left: -1200px;
  top: 0;
  position: absolute;
  width: 100%;
  height: 100%;
  text-align: center;
}
.webflow-page-title {
  font-size: 16px;
}
.badge-dark {
  background-color: #212121;
}
.weflow-option-animation {
  cursor: pointer;
}
.weflow-option-animation:hover {
  background-color: #017bfe !important;
}
.weflow-option-animation:hover,
.weflow-option-animation {
  transition: all ease 200ms;
}

.box-element-list-container
{
    height: 755px;
    /*overflow-y: scroll;*/
}

.image-info,
.image-box:hover .image-info {
  transition: all ease 340ms;
}
.image-box:hover .image-info {
  background: #fff;
  top: 0;
  opacity: 1;
}
.image-box {
  position: relative;
  overflow: hidden;
}
.image-info {
  top: -500px;
  opacity: 0;
  position: absolute;
  height: 100%;
  width: 100%;
  background: #777;
}
.breadcrumb-item+.breadcrumb-item::before {
  width: 0.3rem;
  height: 0.6rem;
  -webkit-mask: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0iVVRGLTgiPz48c3ZnIHdpZHRoPSIxMHB4IiBoZWlnaHQ9IjE2cHgiIHZpZXdCb3g9IjAgMCAxMCAxNiIgdmVyc2lvbj0iMS4xIiB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHhtbG5zOnhsaW5rPSJodHRwOi8vd3d3LnczLm9yZy8xOTk5L3hsaW5rIj4gICAgICAgIDx0aXRsZT5TaGFwZTwvdGl0bGU+ICAgIDxkZXNjPkNyZWF0ZWQgd2l0aCBTa2V0Y2guPC9kZXNjPiAgICA8ZGVmcz48L2RlZnM+ICAgIDxnIGlkPSJQYWdlLTEiIHN0cm9rZT0ibm9uZSIgc3Ryb2tlLXdpZHRoPSIxIiBmaWxsPSJub25lIiBmaWxsLXJ1bGU9ImV2ZW5vZGQiIHN0cm9rZS1saW5lY2FwPSJyb3VuZCIgc3Ryb2tlLWxpbmVqb2luPSJyb3VuZCI+ICAgICAgICA8ZyBpZD0iY2hldnJvbi1yaWdodCIgdHJhbnNmb3JtPSJ0cmFuc2xhdGUoMi4wMDAwMDAsIDIuMDAwMDAwKSIgc3Ryb2tlPSIjMDAwMDAwIiBzdHJva2Utd2lkdGg9IjIuNSI+ICAgICAgICAgICAgPHBvbHlsaW5lIGlkPSJTaGFwZSIgcG9pbnRzPSIwIDEyIDYgNiAwIDAiPjwvcG9seWxpbmU+ICAgICAgICA8L2c+ICAgIDwvZz48L3N2Zz4=) no-repeat 50% 50%;
  mask: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0iVVRGLTgiPz48c3ZnIHdpZHRoPSIxMHB4IiBoZWlnaHQ9IjE2cHgiIHZpZXdCb3g9IjAgMCAxMCAxNiIgdmVyc2lvbj0iMS4xIiB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHhtbG5zOnhsaW5rPSJodHRwOi8vd3d3LnczLm9yZy8xOTk5L3hsaW5rIj4gICAgICAgIDx0aXRsZT5TaGFwZTwvdGl0bGU+ICAgIDxkZXNjPkNyZWF0ZWQgd2l0aCBTa2V0Y2guPC9kZXNjPiAgICA8ZGVmcz48L2RlZnM+ICAgIDxnIGlkPSJQYWdlLTEiIHN0cm9rZT0ibm9uZSIgc3Ryb2tlLXdpZHRoPSIxIiBmaWxsPSJub25lIiBmaWxsLXJ1bGU9ImV2ZW5vZGQiIHN0cm9rZS1saW5lY2FwPSJyb3VuZCIgc3Ryb2tlLWxpbmVqb2luPSJyb3VuZCI+ICAgICAgICA8ZyBpZD0iY2hldnJvbi1yaWdodCIgdHJhbnNmb3JtPSJ0cmFuc2xhdGUoMi4wMDAwMDAsIDIuMDAwMDAwKSIgc3Ryb2tlPSIjMDAwMDAwIiBzdHJva2Utd2lkdGg9IjIuNSI+ICAgICAgICAgICAgPHBvbHlsaW5lIGlkPSJTaGFwZSIgcG9pbnRzPSIwIDEyIDYgNiAwIDAiPjwvcG9seWxpbmU+ICAgICAgICA8L2c+ICAgIDwvZz48L3N2Zz4=) no-repeat 50% 50%;
  -webkit-mask-size: contain;
  mask-size: contain;
  background: #d2ddec;
  margin-top: 6px;
  margin-right: 0.2rem;
}

.breadcrumb {
    display: flex;
    flex-wrap: wrap;
    padding: .75rem 0;
    margin-bottom: 0;
    list-style: none;
    background-color: transparent;
    border-radius: .375rem;
}
.breadcrumb {
    padding: 0 !important;
}
.breadcrumb {
    display: flex;
    flex-wrap: wrap;
    padding: .75rem 0;
    margin-bottom: 0;
    list-style: none;
    background-color: transparent;
    border-radius: .375rem;
}

.breadcrumb-item.active {
    color: #95aac9;
}

.breadcrumb-item+.breadcrumb-item {
    padding-left: .5rem;
}

.custom-switch {
    min-height: 1.5rem;
}
.custom-switch {
    padding-left: 3.5rem;
}
.custom-control {
    position: relative;
    z-index: 1;
    display: block;
    min-height: 1.40625rem;
    padding-left: 1.5rem;
}
input[type=checkbox], input[type=radio] {
    box-sizing: border-box;
    padding: 0;
}
.custom-control-input {
    position: absolute;
    left: 0;
    z-index: -1;
    width: 1rem;
    height: 1.20313rem;
    opacity: 0;
}
button, input {
    overflow: visible;
}
button, input, optgroup, select, textarea {
    margin: 0;
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
}

.custom-control-label {
    position: relative;
    margin-bottom: 0;
    vertical-align: top;
    cursor: pointer;
    font-size: 15px !important;
    color: #017bfe !important;
}

label {
    display: inline-block;
    margin-bottom: .5rem;
}

.custom-switch .custom-control-label::before {
    top: 0 !important;
    height: 1.5rem !important;
    border-radius: .75rem !important;
}
.custom-switch .custom-control-label::before {
    left: -3.5rem !important;
    width: 3rem !important;
    pointer-events: all !important;
    border-radius: .5625rem !importants;
}
.custom-control-label::before, .custom-file-label, .custom-select {
    transition: background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}
.custom-control-label::before {
    position: absolute;
    top: .20313rem;
    left: -1.5rem;
    display: block;
    width: 1rem;
    height: 1rem;
    pointer-events: none;
    content: "";
    background-color: #e3ebf6;
    border: #b1c2d9 solid 0;
}

.custom-switch .custom-control-label::after {
    top: .1875rem;
    left: -3.3125rem;
    background-color: #fff;
}
.custom-switch .custom-control-label::after {
    top: .20313rem;
    left: -3.5rem;
    width: 1.125rem;
    height: 1.125rem;
    background-color: #b1c2d9;
    border-radius: .5625rem;
    transition: transform .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}
.custom-control-label::after {
    position: absolute;
    top: .20313rem;
    left: -1.5rem;
    display: block;
    width: 1rem;
    height: 1rem;
    content: "";
    background: no-repeat 50%/50% 50%;
}

.custom-switch .custom-control-input:checked~.custom-control-label::after
{
  transform: translateX(1.75rem);
}
.tab-content {
  max-height: 600px;
  overflow-y: scroll;
}
.tab-pane {
  height: 100%;
}
.btn-dark {
  border-color: rgba(255,255,255,0.1) !important;
}
.btn-dark,
.bg-dark {
  background-color: rgba(255,255,255,0.04) !important;
}
.bg-dark {
  background: rgb(61,21,150);
  background: linear-gradient(45deg, rgb(68 66 74) 0%, rgb(31 52 115) 77%, rgb(6 79 177) 100%);
}

.list-group-item-element-active,
.list-group-item-element:hover {
  background-color: #007bfd;
  cursor: pointer;
}
.list-group-item-element-active .h2,
.list-group-item-element:hover .h2 {
  color: #fff;
}
.list-group-item-element .h2,
.list-group-item-element:hover .h2,
.list-group-item-element-active,
.list-group-item-element:hover,
.list-group-item-element {
  transition: all ease 500ms;
}

iframe {
  border: none !important;
}
.box-element-list  {
  margin: 0 !important;
}

.outline {
  border: 1px dashed rgba(0,0,0,0.5);
  background-color: rgba(0,0,0,0.1);
}


.nav-pills button {
  border: none;
  color: #333333 !important;
  opacity: 0.2;
  padding: 10px 14px;
}

.color-box {
  width: 22px;
  height: 22px;
  display: inline-block;
  margin: 12px;
}
.image-box .card-img-top
{
  height: 320px !important;
}

/* preloaded divs */