body {
  	background-image: url(../../src/img/bg-buy.jpg);
	background-size: cover;
  	background-attachment: fixed;
}
.btn {
	border-radius: 10rem;
}
.lead {
	line-height: 22px;
	font-family: RobotoLight;
}
.box-info {
	min-height: 150px;
}
.btn-orange:hover {
	color: white;
}
.btn-orange {
	background-color: rgb(239,87,14);
	color: white;
	background: linear-gradient(225deg, rgba(239,87,14,1) 0%, rgba(170,56,0,1) 100%);
}
.box {
	background-color: #fff;
	border-radius: 4px; 
	box-shadow: 0 12px 12px rgba(0,0,0,0.5)
}